- semantic_form_for question do |form|
  -if question.errors.any?
    #error_explanation
      %h2= "#{pluralize(question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - question.errors.full_messages.each do |msg|
          %li= msg

  - form.inputs do
    = form.input :question

  - form.buttons do
    = form.commit_button
