%p#notice= notice

%h2
  = @question.title
  
%p
  = @question.question

  = render :partial => 'answers/answer_table', :locals => {:answers => @answers}
  = render :partial => 'answers/form', :locals => {:answer => @answer}
