- semantic_form_for @answer do |form|
  -if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

  - form.inputs do
    = form.input :question_id
    = form.input :answer

  - form.buttons do
    = form.commit_button
