- content_for :after_scripts do
  = javascript_include_tag 'answers/index'
  = javascript_include_tag 'answers/_answer'
  :javascript
    $(document).ready(function(){
      $(document).answersIndex();  
    });

%h2
  = @question.title
%p
  = @question.question

%h3
  %span.count= @question.answers.count
  =@question.answers.count == 1 ? 'Answer' : 'Answers'
    

#answersWrapper
  = render @answers

%div.answer-form
  %h3 Your answer
  = render :partial => 'form'
