!!! 5
%html
  %head
    %title Questionmart
    = stylesheet_link_tag 'screen.css', 'formtastic', 'formtastic_changes'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js'
    = yield :after_scripts

    = csrf_meta_tag
  %body.bp.two-col
    #container
      #header
        %h1 Question Mart
        = render :partial => 'layouts/main_navigation'
      
      #content
        #wrapper
          = yield
      
      #sidebar
        (sidebar stuff here)

      #footer
        &nbsp;
