!!! 5
%html
  %head
    %title Questionmart
    = stylesheet_link_tag 'screen.css', 'formtastic', 'formtastic_changes'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body.bp.two-col
    #container
      #header
        %h1 Question Mart
      
      #content
        = yield
      
      #sidebar
        = yield :secondary
      #footer
        %small (footer goes here)
